{
  "plugins": [
    ["babel-plugin-transform-builtin-classes", {
      "globals": ["HTMLElement"]
    }]
  ],
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "flow"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": true
          }
        }]
      ]
    }
  }
}